@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  /* declare a variable with `--` syntax */
  --dark: black;
  --light: rgb(214, 223, 224);
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: "Varela Round", sans-serif;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #191a64;
  color: white;
  margin: 0;
  font-size: 150%;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 45px;
  font-size: 150%;
}
a.active {
  color: grey;
}
.headingDashboard {
  padding-top: 150px;
}
header h2 {
  font-size: 250%;
  margin-left: 35px;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
  font-size: 110%;
  margin-right: 20px;
  color: white;
}
.nav-link.active {
  color: black;
}

nav li {
  margin-right: 10px;
}

main {
  display: block;
  flex: 1 1 0;
  max-width: 96%;
  margin: 2% auto;
}
.dashboardButton {
  color: rgb(206, 25, 70);
  border-color: rgb(206, 25, 70);
}
.shopName {
  color: #191a64;
  font-size: 70%;
}
.btn-check:active + .btn-outline-success,
.btn-check:checked + .btn-outline-success,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active {
  background-color: rgb(206, 25, 70);
  border-color: rgb(206, 25, 70);
  border-width: 0ch;
}
.description {
  font-weight: 100;
  font-size: 80%;
}
.dashboardButton:hover {
  background-color: rgb(206, 25, 70);
}
.issue {
  font-size: 100%;
}
.author {
  background-color: rgb(206, 25, 70);
  font-weight: 80;
  font-size: 65%;
}

.title {
  font-weight: bold;
  font-size: 100%;
  padding: 5px;
}
.assignedTo {
  background-color: rgb(206, 25, 70);
  font-weight: 80;
  margin-left: 15px;
  font-size: 65%;
}
.status {
  background-color: #191a64;
  font-weight: 80;
  margin-left: 15px;
  font-size: 65%;
}
.lodgedDate {
  background-color: #191a64;
  font-weight: 80;
  margin-left: 15px;
  font-size: 65%;
}
p {
  text-align: justify;
}

#addIssue {
  background-color: #0d63d4;
}

#signUp {
  background-color: rgb(201, 151, 12);
}
.contact {
  border-style: solid;
  margin-top: 30px;
  padding: 5px;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgb(206, 25, 70);
  color: var(--light);
}

#contactButton {
  background-color: var(--light);
  color: rgb(206, 25, 70);
  font-weight: bold;
}
#contactButton h5 {
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  body,
  header {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  .btn-group {
    padding-top: 25px;
  }
  .issueDetails {
    padding-bottom: 20px;
  }
  .author {
    margin-left: 15px;
  }
}
@media screen and (max-width: 520px) {
  .issues {
    max-width: 350px;
  }
}
